asgiref==3.2.10
attrs==23.1.0
backcall==0.2.0
beautifulsoup4==4.9.1
certifi==2023.11.17
cffi==1.16.0
chardet==3.0.4
charset-normalizer==3.3.2
colorama==0.4.3
decorator==4.4.2
defusedxml==0.6.0
Django==3.1.1
django-allauth==0.42.0
django-crispy-forms==1.9.2
django-extensions==3.0.9
django-markdownx==3.0.1
gunicorn==20.0.4
h11==0.14.0
idna==2.10
importlib-metadata==2.0.0
ipython==7.18.1
ipython-genutils==0.2.0
jedi==0.17.2
Markdown==3.2.2
mysqlclient==2.2.0
oauthlib==3.1.0
outcome==1.3.0.post0
parso==0.7.1
pickleshare==0.7.5
Pillow==10.0.1
prompt-toolkit==3.0.7
psycopg2==2.9.9
psycopg2-binary==2.9.9
pycparser==2.21
Pygments==2.7.1
PySocks==1.7.1
python3-openid==3.2.0
pytz==2020.1
requests==2.31.0
requests-oauthlib==1.3.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.0.1
sqlparse==0.3.1
traitlets==5.0.4
trio==0.23.1
trio-websocket==0.11.1
tzdata @ file:///croot/python-tzdata_1690578112552/work
urllib3==2.1.0
wcwidth==0.2.5
wsproto==1.2.0
zipp==3.2.0
