<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>키워드 수정</title>

    <link href="{% static 'community/bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'community/css/modPage.css' %}" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/726bbd6862.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    
</head>
<body>
    {% include 'community/navbar.html' %}

    <div class="signup-form">
        <form action="{% url 'community:save_keywords' pk=user.pk %}" method="post" name="keywordForm" id="keywordForm">
            {% csrf_token %}
            <h2>키워드 수정</h2>
            <p>Please fill in this form to modify your keywords!</p>
            <hr>
            <div class="form-group">
                <label>관심 분야</label> <br>
                <select class="form-control" aria-label="Default select example" style="min-width: 300px;" id="categorySelect" onchange="getKeywords()">
                    <option selected>선택</option>
                    <option value="1">활동 분야</option>
                    <option value="2">언론/미디어</option>
                    <option value="3">디자인/사진/예술/영상</option>
                    <option value="4">경제/금융</option>
                    <option value="5">경영/컨설팅</option>
                    <option value="6">과학/공학/기술/IT</option>
                  </select>
            </div>
            <div class="form-group">
                <input type="hidden" id="defaultKeywordList" name="default_keywords">
                <div id="keywordList">

                </div>
            </div>

            <!-- <div class="form-group">
                <label>관심 키워드 직접 입력하기</label>
                <input type="text" class="form-control" id="makeKeyword">
                <button>입력</button>
            </div> -->

            <form class="form-group form-inline">
                <div class="form-group mx-sm-3 mb-2">
                  <label for="inputKeyword" class="sr-only">Password</label>
                  <input type="password" class="form-control" id="inputKeyword">
                </div>
                <button onclick="test()" class="btn btn-primary mb-2">저장</button>
              </form>

            <div class="form-group">
                <input type="hidden" id="makeKeywordList" name="make_keywords">
                <div id="makeKeywordField">
                    <!-- 토글 버튼 -->
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg" onclick="test(event)">변경</button>
            </div>
        </form>
    </div>



    <script>
        // 직접 입력한 키워드 화면에 띄우기 //
        const inputKeyword = document.getElementById('makeKeyword');
        const makeKeywordList = document.getElementById('makeKeywordField');
        let buttonCount = 0;

        // 엔터 눌렀을 때
        inputKeyword.addEventListener('keydown', function(event) {
            if (event.keyCode === 13) {
                event.preventDefault(); // 폼 제출 방지

                // 1.1. 작성된 키워드가 10개 이상일 때
                if (buttonCount >= 10) {
                    alert('직접 입력할 수 있는 키워드는 최대 10개입니다.');
                    event.target.value = '';
                    return;
                }

                // 1.2. 아무 입력값 없이 엔터를 눌렀을 때
                const inputValue = event.target.value.trim(); // 입력값의 앞뒤 공백 제거
                if (inputValue === '') {
                    alert('키워드를 입력해주세요.');
                    return;
                }

                // 2.1. html에 토글 버튼 생성
                const newButton = document.createElement('button');
                newButton.textContent = event.target.value;
                newButton.classList.add('toggle-button');
                newButton.classList.toggle('selected');
                newButton.classList.add('makeKeywords');
                makeKeywordList.appendChild(newButton); // 생성한 버튼을 리스트에 추가
                event.target.value = ''; // 입력한 내용 리셋
                buttonCount++; // 버튼 개수 증가

                // 2.2. 생성된 토글 버튼을 다시 클릭해 생성 취소
                newButton.addEventListener('click', function(event) {
                    event.preventDefault(); // 폼 제출 방지 (옵션)
                    event.target.parentNode.removeChild(event.target);
                    buttonCount--;
                });

            }  
        });


        // 카테고리 선택 후 카테고리 키워드 가져오기
        function getKeywords() {
            const selectedCategory = document.getElementById('categorySelect').value;
            const url = '/community/keywords/';

            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                data: {'category': selectedCategory},
                success: function(data){
                    console.log(data);
                    // 받아온 키워드 데이터를 화면에 출력
                    const keywordList = document.getElementById('keywordList');
                    keywordList.innerHTML = '<label>키워드</label> <br>';

                    data.keywords.forEach(keyword => {
                    const keywordElement = document.createElement('button');
                    keywordElement.textContent = keyword.keywordname;
                    keywordElement.classList.add('toggle-button');
                    keywordElement.classList.add('defaultKeywords');
                    keywordList.appendChild(keywordElement);

                    keywordElement.addEventListener('click', function() {
                    event.preventDefault(); // 폼 제출 방지
                    this.classList.toggle('selected');
                    });  
                });
                },beforeSend:function(){
                    console.log("i am waiting");
                },complete:function(){
                    console.log("i am done");
                },error: function (request, status, error) {
                    console.log('i am failed');
                }
            });
        }
            
            // 폼 제출시 selected 클래스 값 보내기
            function test(event) {
                event.preventDefault(); // 기본 제출 방지

                let makeData = [];
                let defaultData = [];
                const selectedKeywordElements = document.querySelectorAll('.toggle-button.selected');
                selectedKeywordElements.forEach(element => {

                    if (element.classList.contains('makeKeywords')) {
                        makeData.push(element.textContent);
                        console.log(makeData);
                    } else if (element.classList.contains('defaultKeywords')) {
                        defaultData.push(element.textContent);
                        console.log(defaultData);
                    } else {
                        console.log('This is a different class');
                    }
                    });


                // 폼 필드에 추가 데이터 설정
                document.getElementById('makeKeywordList').value = makeData.join(',');
                document.getElementById('defaultKeywordList').value = defaultData.join(',');

                // 폼 제출
                document.getElementById('keywordForm').submit();
            };
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>