
<style>
    .navbar {
        background-color: #fff; /* 네비바 전체의 배경색을 흰색으로 설정 */
        border-bottom: 1px solid #ddd;
    }

    .navbar-brand {
        font-size: 1.5rem;
        font-weight: bold;
        color: #5A32FB;
        margin-right: auto;
    }

    .navbar-toggler {
        border-color: #5A32FB;
    }

    .navbar-nav {
        margin-left: auto;
    }

    .navbar-nav .nav-link {
        color: #1E1E1E; /* NAV-ITEM 글씨체를 짙은 회색으로 설정 */
        font-weight: 500;
        font-family: 'Inter';
        transition: color 0.3s;
        margin: 0 10px;
    }


    .navbar-nav .nav-link:hover {
        color: #5A32FB;
    }

    .navbar-nav .active {
        background-color: #5A32FB;
        border-radius: 8px;
    }

    .navbar-nav .active .nav-link {
        color: #fff;
    }

    .login-btn, .logout-btn {
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 8px 15px;
        border-radius: 10px;
        text-decoration: none;
        font-weight: 500;
        transition: background-color 0.3s;
    }

    .login-btn {
        background-color: #5A32FB;
        color: #fff;
    }

    .login-btn:hover {
        background-color: #3e1eaf;
    }

    .logout-btn {
        background-color: #5A32FB;
        color: #fff;
    }

    .logout-btn:hover {
        background-color: #7b848a;
    }

    .navbar-nav .nav-link.active {
        background-color: transparent;
        color: #5A32FB;
    }


</style>

<div class="m-4">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">DUKJOB</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="/about_we/" class="nav-item nav-link">서비스 소개</a>
                    <a href="/community/" class="nav-item nav-link">활동 목록</a>
                    {% if user.is_authenticated %}
                        <a href="{% url 'community:recommend' pk=user.pk %}" class="nav-item nav-link">추천활동</a>
                    {% else %}
                        <a href="{% url 'community:login' %}" class="nav-item nav-link">추천활동</a>
                    {% endif %}


                    {% if user.is_authenticated %}
                        <a class="nav-link" href="{% url 'community:user_detail' pk=user.pk %}">마이페이지</a>
                    {% else %}
                        <a href="{% url 'community:signup' %}" class="nav-item nav-link">회원가입</a>
                    {% endif %}
                    
                    <div class="nav-item nav-link">
                        {% if user.is_authenticated %}
                            <a href="{% url 'community:logout' %}" class="logout-btn">Logout</a>
                        {% else %}
                            <a href="{% url 'community:login' %}" class="login-btn">Login</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>