<!-- http://127.0.0.1:8000/community -->
<link rel="stylesheet" href="../../static/community/css/community.css"/>
<link rel="stylesheet" href="../../static/community/css/teamlist.css"/>

{% extends 'community/base.html' %}

{% block main_area %}
<div class="activity_title"><h1>팀 모집글 전체 보기</h1></div>
<hr>

<br><br>

<button id="createPostBtn">팀원 모집 글쓰기</button>

{% if team_list %}
<table class="list_table">
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성날짜</th>
    </tr>
    </thead>
    <tbody>

    {% for team in team_list %}
        {% with forloop.counter as number %}
            <tr>
                <td>{{ number }}</td>
                <td><a href="{% url 'community:team_detail' team.id %}">[{{team.post.title}}]{{ team.title }}</a></td>
                <td>{{ team.time|date:"Y-m-d" }}</td>
            </tr>
            <tr>
                <td colspan="3">
                    <hr>
                </td>
            </tr>
        {% endwith %}
    {% endfor %}
    </tbody>
</table>
{% else %}
<h1>아직 팀 게시글이 없습니다.</h1>
{% endif %}

<div class="pagination" style="justify-content: center; display: flex;">
    <span class="step-links">
        <a href="?filter={{ filter_value }}&page={{ first_page }}">처음</a>

        {% if previous_page %}
            <a href="?filter={{ filter_value }}&page={{ previous_page }}">&laquo; 이전</a>
        {% endif %}

        {% for i in page_range %}
            {% if page.number == i %}
                <span class="current">
                    <a href="javascript:void(0);" style="color: white; font-weight: bold;">{{ i }}</a>
                </span>
            {% else %}
                <a href="javascript:void(0);" onclick="changePage({{ i }})">{{ i }}</a>
            {% endif %}
        {% endfor %}

        {% if next_page %}
            <a href="?filter={{ filter_value }}&page={{ next_page }}">다음 &raquo;</a>
        {% endif %}

        <a href="?filter={{ filter_value }}&page={{ last_page }}">끝</a>
    </span>
</div>

<!-- 스크립트 코드 -->
<script>
    function changePage(pageNumber) {
        var url = window.location.href.split('?')[0]; // 현재 URL에서 쿼리 파라미터 제거
        var filter = getParameterByName('filter');
        window.location.href = url + '?filter=' + filter + '&page=' + pageNumber;
    }

    function getParameterByName(name) {
        var url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    document.getElementById('createPostBtn').addEventListener('click', function () {
        var isLoggedIn = {% if user.is_authenticated %} true {% else %} false {% endif %};

        if (isLoggedIn) {
            // 로그인된 경우
            var teamPostFormUrl = "{% url 'community:TeamPostForm' %}";
            window.location.href = teamPostFormUrl;
        } else {
            // 로그인되지 않은 경우
            var loginUrl = "{% url 'community:login' %}";
            window.location.href = loginUrl;
        }
    });

    document.addEventListener('DOMContentLoaded', function () {
        var createPostBtn = document.getElementById("createPostBtn");

        if (createPostBtn) {
            createPostBtn.addEventListener('click', function () {
                // 현재 페이지 URL을 LocalStorage에 저장
                localStorage.setItem('previousPageUrl', window.location.href);
            });
        }
    });
</script>
<!-- 스크립트 코드 종료 -->

{% endblock %}