{% extends 'community/base.html' %}
{% load crispy_forms_tags %}
<link rel="stylesheet" href="../../static/community/css/postDetailStyle.css"/>


{% block main_area %}

    <div class="wrapper">
        <div class="content_wrapper" style="margin-top: 30px;">
            <div class="title">
                <p style="color:#666; font-size: 15px;">{{ team.post.title | linebreaksbr }} </p>
                <!-- <br/> -->
            </div>
            
            <div class="content_box">
                <!-- Post title-->
                <section class="mb-5">
                    <h2>{{ team.title | linebreaksbr }} </h2>
                    <p>{{ team.time|date:"y-m-d H:i"}}</p>
                    <hr>

                    <!-- Post content-->
                    <section class="mb-5">
                        <p class="fs-5 mb-4">{{ team.content }}</p>
                    </section>

                    <br/>
                </section>
            </div>
        </div>
    </div>


  <!-- Comments section -->
    <section class="mb-5">
        <div class="card bg-light">
            <div class="card-body">
                <!-- Comment form -->
                {% if user.is_authenticated %}
                   <form class="mb-4" id="comment-form" method="POST" action="{% url 'community:new_comment' pk=team.pk %}">

                        {% csrf_token %}
                        <div class="form-group">
                            {{ comment_form | crispy }}
                        </div>
                        <!-- 댓글쓰기 버튼 스타일 -->
                        <button type="submit" class="btn btn-primary" style="background-color: #5A32FB; color: white; border-radius: 30px; border: none; width: 100px; height: 40px; float: right; margin-top: 10px;">댓글쓰기</button>
                    </form>
                {% else %}
                    <a role="button" class="btn btn-sm" href="{% url 'community:login' %}" data-toggle="modal" data-target="#loginModal">로그인하고 댓글을
                        남겨주세요</a>
                {% endif %}

                <section class="comments-section">
                    <div class="container">
                        <!-- Single comment -->
                        {% if team.comment_set.exists %}
                            <div class="d-flex flex-column">
                                {% for comment in team.comment_set.iterator %}
                                    <div class="d-flex" id="comment-{{ comment.pk }}">
                                        <div class="ms-3">
                                            <div class="comment-info">
                                                <div class="fw-bold">{{ comment.user.username }} <span style="font-size: 0.8em; color: #666;">{{ comment.time|date:"y-m-d H:i" }}</span></div>
                                                {{ comment.content | linebreaks }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </section>
        </div>
    </section>
{% endblock %}
