<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관심전공 수정</title>

    <link href="{% static 'community/bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'community/css/mypage.css' %}" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/726bbd6862.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">

</head>
<body>
    {% include 'community/navbar.html' %}

    <div class="container-sm" style="margin-left: 10px; margin-right: 10px;">

<section>

      <div class="row" style="margin-left: 30px;"> 
        <div class="col-4">
              <h4>회원 정보</h4>  
                    <div class="card my-info">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                          <div style="display: flex;">
                            <span>아이디</span>
                            <span style="color: gray; margin-left: auto;">{{ user.username }}</span>
                          </div>
                        </li>

                        <li class="list-group-item">
                          <div style="display: flex;">
                            <span>이메일</span>
                            <span style="color: gray; margin-left: auto;">{{ user.email }}</span>
                          </div>
                        </li>

                        <li class="list-group-item">
                          <div style="display: flex;">
                            <a href="{% url 'community:modMajor' pk=user.pk %}" class="postLink">관심전공</a>
                            <span style="color: gray; margin-left: auto;">
                                {% for major in current_user_majors %}
                                  <span style="display: block; text-align: right;">{{ major.majorname }}</span>
                                {% endfor %}
                            </span>
                          </div>
                        </li>

                      </ul>
                    </div>

                      <a href="{% url 'community:modMajor' pk=user.pk %}" class="btn btn-primary btn active mod" role="button" aria-pressed="true" style="background-color: #5a32fb; color:white;">수정</a>


                  <h4>맞춤 키워드</h4>
                  <div class="card my-info">
                    <div class="card-body keywordsField">
                      {% for keyword in current_user_keywords %}
                        <div class="keyword-box">{{ keyword.keywordname }}</div>
                      {% endfor %}
                      <a class="keyword-box mod-box" href="{% url 'community:modKeyword' pk=user.pk %}" role="button">+</a>
                    </div>
                  </div>

                    <!-- <a href="{% url 'community:modKeyword' pk=user.pk %}" class="btn btn-primary btn active mod" role="button" aria-pressed="true">수정</a> -->

                    
                    <div class="card" style="width: 20rem; margin-top: 25px;">
                      <div class="card-body">
                        <a href="{% url 'community:myTeam_detail' pk=user.pk %}" class="postLink">내가 쓴 글</a>
                      </div>
                    </div>
  
                    <div class="card" style="width: 20rem;">
                      <div class="card-body">
                        <a href="{% url 'community:my_comment' pk=user.pk %}" class="postLink">내가 쓴 댓글</a>
                      </div>
                    </div>
              </div>

          <div class="col-8" style="padding-left: 25px;">
              <h4>스크랩한 활동</h4>
              <ul class="scrapUl">
                {% for scrap in current_user_scraps %}
                <div class="card scrapcard">
                  {% if scrap.post.img %}
                    <img src="{{ scrap.post.img }}" class="card-img-top" alt="...">
                  {% else %}
                    {% with random_image=selected_images|random %}
                    <img src="{% static 'community/dukse/' %}{{ random_image }}" alt="덕새 이미지" class="card-img-top" alt="Default Image" height="170px;" />
                    {% endwith %}
                  {% endif %}
                  <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'community:post_detail' pk=scrap.post.id  %}" class="scrapUrl">{{ scrap.post.title|truncatechars:24 }}</a><hr></h5>
                    <p class="card-text scrapcard-text">{{ scrap.post.content|truncatechars:100 }}</p>
                    <div style="text-align: right;">
                      <button type="button" class="btn btn-secondary cancel-button" onclick="cancelScrap('{{ scrap.post.id }}', this)">삭제</button>
                  </div>
                  </div>
                </div>
                </select>
                {% endfor %}
              </ul>
          </div>
      </div>
  </div>
</section>

</div>

<script>

  function cancelScrap(postId, button) {
        const url = `/community/cancelScrap/`;
        console.log(url);

        // Ajax 요청 보내기
        $.ajax({
            type: 'GET',
            url: url,
            data: {'postId': postId},
            success: function(data) {
              console.log('성공')
              const cardToRemove = button.closest('.card');
              if (cardToRemove) {
                cardToRemove.remove();
              }
            },
            error: function(error) {
                console.log('에러 발생:', error);
            }
        });
    }
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


</body>
</html>
