<!-- http://127.0.0.1:8000/about_we -->



{% extends 'single_pages/base.html' %}

{% block main_area %}
  <link rel="stylesheet" href="../../static/single_pages/about_we.css" />
    <!-- 이 곳에 서비스 소개 페이지(덕잡이)의 내용을 추가 -->
    <div class="service-intro">
        <div class="content-box">
          <div class="title">덕잡이</div>
          <div class="subtitle">덕성인 맞춤 진로활동 통합검색 & 추천시스템</div>
          <div class="line"></div>
          <div class="description1">덕성인의 진로 길잡이가 되어드립니다!</br> 덕성인을 맞춤 JOB으로 이끌어드립니다!</div>
          <div class="description2">덕잡이에서 </br> 덕성여대 내 모든 진로활동 한번에 검색해보세요.</br>  개인 맞춤형 진로활동 추천도 받아보세요. </br> 오직 덕잡이에서 가능합니다.</div>
          <div class="description3">기존 덕성이룸 사이트가 불편하셨다고요?</div>
        </div>
      </div>
{% endblock %}