<link rel="stylesheet" href="../../static/single_pages/landing.css" />
{% extends 'single_pages/base.html' %}

{% block main_area %}
    <!-- Masthead -->
    <header class="masthead">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="text-center text-white">
                        <!-- Page heading -->
                        <h2 class="mb-5">덕성인 맞춤 진로활동 통합검색 & 추천 시스템</h2>
                        
                        <form class="form-subscribe" id="contactForm" data-sb-form-api-token="API_TOKEN" action="{% url 'search' %}" method="get">
                            <!-- Email address input -->
                            <div class="row">
                                <div class="col">
                                    <div class="form-container">
                                        <input class="form-control form-control-lg" type="text" name="q" value="{{ query }}" placeholder="검색어를 입력하세요" />
                                    </div>
                                </div>
                                <div class="col-auto welcome-hero-serch">
                                    <button class="welcome-hero-btn" type="submit">
                                        <i data-feather="search"></i> Search
                                    </button>
                                </div>
                            </div>
                        </form>
                        
                        <!-- Search results -->
                        {% if results %}
                            <h3>'{{ query }}'에 대한 검색 결과</h3>
                            <ul>
                                {% for result in results %}
                                    <li><a href="{% url 'community:post_detail' pk=result.pk %}">{{ result.title }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}


