
@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}


.activity_title {
    margin-top: 40px;
    text-align: center; 
    font-weight: bold;
    font-size: 35px;
}

.one_line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center; 
}


.welcome-hero-serch-box {
    text-align: right;
}

.welcome-hero-form {
    display: flex;
    align-items: center;
}

.single-welcome-hero-form {
    margin-left: auto;
    display: flex;
    align-items: center; /* 수정된 부분: 수직 가운데 정렬 */
}

form {
    display: flex;
    align-items: center;
}

input {
    margin-right: 8px;
    padding: 6px;
}

.welcome-hero-btn {
    margin-top: 6px;
    margin-bottom: 6px; 
    background-color: #5A32FB;
    color: #fff;
    padding: 6px 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	  font-weight: bold;
	  border: none;
	  outline: none !important;
    border-radius: 10px; 
}


.list_table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

.list_table th, .list_table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.list_table th {
    background-color: #f2f2f2;
}

.list_table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.post_pk{
  width: 100px;
}

.post_title{
  width: 1050px;
}

/* 필터링 */
.choose_one {
  list-style: none;
  display: flex;
}

.choose_one ul {
    list-style: none;
    padding: 0;
}

.choose_one li {
    margin-top: 13px;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.choose_one a {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    color: #333;
    background-color: #fff;
    border-radius: 5px;
}

.choose_one a:hover {
    background-color: #f0f0f0;
}

.form-subscribe {
    display: flex;
    justify-content: flex-end;
}


/* 페이지네이션 */
.pagination {
    text-align: center;
    margin: 20px;  
}

.step-links {
    justify-content: center;
    align-items: center;
    display: inline-block;
    margin-right: 10px; 
}

.step-links a, .current {
    padding: 8px 12px;  
    border: 1px solid #ccc;  
    text-decoration: none;
    color: #333;  
    background-color: #f8f8f8;  
    border-radius: 5px;  
}

.list_table tbody tr td:nth-child(2) a {
    color: inherit;
    text-decoration: none;
}

.list_table tbody tr td:nth-child(2) a:hover {
    text-decoration: underline;
}