
@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}

/* post_list 스타일  */

/* Styles for one_line */

/* 활동목록 상단 마진 */
.activity_title {
    margin-top: 50px;
    font-family: 'Inter';
    text-align: center; /* Adjust as needed */
    font-weight: bold;
    font-size: 35px;
}

.one_line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center; /* Center align the text within one_line */
}

/* Styles for activity_title */


/* Styles for choose_one */
.choose_one {
  list-style: none;
  display: flex;
}

.choose_one li {
  margin-right: 10px; /* Adjust as needed */
}

/* styles.css */

/* styles.css */

.welcome-hero-serch-box {
    text-align: right;
}

.welcome-hero-form {
    display: flex;
    align-items: center;
}

.single-welcome-hero-form {
    margin-left: auto;
    display: flex;
    align-items: center; /* 수정된 부분: 수직 가운데 정렬 */
}

form {
    display: flex;
    align-items: center;
}

input {
    margin-right: 8px;
    padding: 6px;
}

.welcome-hero-btn {
    margin-top: 6px; /* 수정된 부분: 버튼의 상하 크기를 조절하세요 */
    margin-bottom: 6px; /* 수정된 부분: 버튼의 상하 크기를 조절하세요 */
    background-color: #5A32FB;
    color: #fff;
    padding: 6px 10px;
}

/* post_list 목록 스타일  */
.list_table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px; /* 여유 여백 조절 */
}

.list_table th, .list_table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.list_table th {
    background-color: #f2f2f2;
}

.list_table tr:nth-child(even) {
    background-color: #f9f9f9;
}