.keyword-box {
    background-color: #5A32FB;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid #ccc;
    margin: 3px;
    border-radius: 30px;
    font-size: 12px;
    display: inline-block;
    /* transition: background-color 0.3s ease; */
}

.keywordsField {
    padding: 10px;
}

.my-info {
    width: 20rem; 
    margin-top: 10px; 
    margin-bottom: 10px;
}

.mod {
    margin-left: 120px;
}

.mod-box:hover{
    color: white;
    text-decoration: none;
    background-color: #5A32FB;
}

.mod-box {
    color: #5A32FB;
    text-decoration: none;
    background-color: white;
}

.mod-box:hover {
    background-color: #ccc;
}

.postLink {
    text-decoration: none;
    color: black;
}

.postLink:hover {
    /* text-decoration: none; */
    color: black;
}

.scrapUrl {
    text-decoration: none;
    color: black;
}

.scrapUrl:hover {
    color: black;
}

h4 {
    padding-top: 25px;
}

.scrapUl {
    display: flex; 
    flex-wrap: wrap; 
    padding-left: 0px;
}

.scrapcard {
    width: 15rem; 
    margin-right: 10px; 
    margin-bottom: 10px;
}

.scrapcard-text {
    font-size: 10px; 
    width: 200px; 
    height: 75px;
}